<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Post 목록</title>
  <link rel = "stylesheet" href="/resources/css/bootstrap.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">SKKU Board</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<h2><p th:text="${Board.title}"/> </h2>
  <a class="btn btn-outline-primary" th:href="@{/board/postWrite/{id}(id = ${Board.id})}" role="button">글쓰기</a>
</a>
<table class="table">
  <thead class="table-light">
  <tr>
    <td>Id</td>
    <td>제목</td>
    <td>내용</td>
  </tr>

  <tr th:each="p : ${Posts}">
    <td th:text="${p.id}"/>
    <td>
      <a th:href="@{/view/(bid =${Board.id},pid=${p.id})}">
        <p th:text="${p.title}"/>
      </a>
    </td>
    <td th:text="${p.contents}"/>
  </tr>

</table>
</body>
</html>